/*
Red Lantern redesign
HFWD Chapter 1
*/

/*
The font size here is set to 62.5% so that
1em = 10px. This makes adjusting our typography
a little easier
*/
body {
	margin: 0 auto;
	width: 800px;
	padding: 0;
	background-image:url('../images/cat.jpg');
	background-size:800px,auto;
	background-repeat: no-repeat;
	background-position:top;
	background-color: #fff;
	font-family: Helvetica, sans-serif;
	font-size: 62.5%;
	color: #333;
}

h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
}

p {
	font-size: 1.4em;
	line-height: 1.4em;
}

ul {
	list-style-type: none;
}

a:link {
	color: #fff;
	background: #eee0;
}
a:visited {
	color: #ffffff;
	background: #eee;
}

/* This rule adds a nice style to our ampersands */
span.amp {
	font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
	font-weight: normal;
	font-style: italic;
}
#logo{
	font-size: 2.4em;
}
 #black{
	color: rgb(0, 0, 0);
 }
 #white{
	color: rgb(255, 255, 255);
 }

#header h2{
	font-size: 1em;
	color: rgb(255, 255, 255);

}

#menu ul
{
display:inline;
white-space: nowrap;
letter-spacing: -8px;
}

#menu li
{
line-height: 40px;
text-align:center;
width:100px;
height:40px;
margin:3px;
float:left;
background:#3c3333;
letter-spacing: normal;
}