/*
Red Lantern redesign
HFWD Chapter 1
*/

/*
The font size here is set to 62.5% so that
1em = 10px. This makes adjusting our typography
a little easier
*/
body {
	margin: 0 auto;
	width: 800px ;
	padding: 0;
	background: #ffffff;
	font-family: Helvetica, sans-serif;
	font-size: 62.5%;
	color: #3a2e2e;
}
#wrap {
	clear: both;
	margin: 0 auto;
	padding: 10px;
	width: 780px;
	background: #fff;
	border: 10px solid #777;
}

/*text set*/
h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
}

p {
	font-size: 1.4em;
	line-height: 1.4em;
}

ul {
	list-style-type: none;
}

/*link set*/
a:link {
	color: #fffdfd;
	text-decoration: none;
}
a:visited {
	color: #ffffff;
	background: #eee;
}

/* This rule adds a nice style to our ampersands */


/*header set*/
#header {
	background: rgb(158, 51, 51) url('../images/cat.jpg');
}

/*logo set*/
#logo h1 {
	font-size: 3em;
	margin: 0 0 0 0;
	padding-top: 10px;
	padding-left: 10px;
	text-align: left;
	color:rgb(34, 34, 34);
	
}
#logo h2 {
	font-size: 1.5em;
	margin: 0 0 0 0;
	padding-left: 10px;
	padding-top: 3px;
	text-align: left;
	color:#fff;
}
#black{
	color:#000;
}

/*menu set*/
#menu {
	background:linear-gradient(#666,#000);
	float: center;
	margin: 5px 0 0 0;
	font-size: 1.4em;
	text-align: center;
}

 
#menu li {
	display: inline-block;
	margin: 0 0 0 0;
	padding: 10px 30px 10px 30px;
}

#menu li:hover{
	background:linear-gradient(#000,#555);
	text-decoration: underline;
}


#menu li a {
	color: #fff;
	text-decoration: none;
}

#homeda{
	background:linear-gradient(#000,#555);
	text-decoration: underline;
}

/*right article set*/
#right {
	float: right;
	width: 500px;
	margin: 0 0 0 0;
	padding: 10px;
}

#right h1 {
	font-size: 2.4em;
	margin: 0 0 10px 0;
}

#right h2{
	font-size: 1.5em;
	margin: 0 0 10px 0;
}

#right p{
	margin: 0 0 10px 0;
}

#right h3{
	font-size: 1.4em;
	text-align: right;
	margin: 0 0 10px 0;
	color: #447bce;
}

#right a{
	color: #777;
}

/*left article set*/
#left{
	float: left;
	width: 240px;
	margin: 0 0 0 0;
	padding: 10px;
}

#left h2{
	padding:10px;
	background:linear-gradient(#fff,#000);
	color:#fff;
	border: 3px #666 solid;
	border-radius: 13px;
}

#leftborder{
	padding:0.5px;
	border: 3px #666 solid;
	border-radius: 12.5px;
}

#leftup{
	padding: 10px 0 10px 0;
}

#leftup a{
	color: #333;
	text-decoration:underline;
}

#leftdown{
	padding: 10px 0 10px 0;
}

#leftdown h2{
	color: #000;
	background: none;
	padding: 20px 0 0 0;
	border: none;
}

#leftdown a{
	color: #333;
	text-decoration:underline;
}

/*footer set*/
#footer {
	clear: both;
	background: linear-gradient(#000,#777);
	padding: 30px 0 10px 0;
	border-top: 2px solid #ddd;
	text-align: center;
	color: #fff;
}